{% comment %}
  Це банер для показу інформації про безкоштовну доставку.
  Додано як кастомний екстеншен для тестового завдання.
{% endcomment %}

<div class="promo-banner">
  При замовленні від 1500₴ безкоштовна доставка!
</div>

<style>
  .promo-banner {
    background-color: #ffe01b;
    color: #000;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }
</style>