{% comment %}
  Template for Wishlist page
{% endcomment %}

{% layout 'theme' %}

<div class="page-width">
  <h1 class="title">Cписок бажаного</h1>
  <div id="wishlist-container" class="grid grid--2-col-tablet-down grid--4-col-desktop">
    <!-- Сюди будуть додаватись товари з localStorage -->
  </div>
</div>

<script src="{{ 'wishlist.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{ 'wishlist.css' | asset_url }}">